<div>
  <div id="header">
    <a href="/"><img id="logo" src="logo.png" alt=""></a>
      <div class="nav">
        <a href="cookie"><img src="Cookie.png" alt=""></a>
        <a href="#"><img src="Cupcake.png" alt=""></a>
        <a href="cupcake"><img src="Cupcake.png" alt=""></a>
        <a href="#"><img src="swirl.png" alt=""></a>
      </div>
  </div>
</div>
