<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>
  <body>
    <div>
      <div id="header">
        <a href="/"><img id="logo" src="logo.png" alt=""></a>
          <div class="nav">
            <a href="cookie"><img src="Cookie.png" alt=""></a>
            <a href="#"><img src="Cupcake.png" alt=""></a>
            <a href="cupcake"><img src="Cupcake.png" alt=""></a>
            <a href="#"><img src="swirl.png" alt=""></a>
          <div id="stable">
            <input id="secret" type="text" placeholder="Enter Code">
            <button id="submit">Submit</button>
            <p id="invalid"></p>
          </div>
          </div>
      </div>
    </div>
    <center>
    <h3>"Homemade because I'm not a machine..."</h3>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="Cookie.png" alt="">
            <div class="card-body">
              <h5 class="card-title">A Single Cookie?</h5>
              <p class="card-text">So you've decided on a single cookie. But what type of cookie? How many do you really want? One is definitely not enough!</p>
              <a href="cookie" class="btn btn-primary">Tell Me More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="swirl.png" alt="">
            <div class="card-body">
              <h5 class="card-title">The Famous Swirl Cookie! </h5>
              <p class="card-text">This is where I take not one but <strong>TWO</strong> flavors and put them together in a beautiful way that can only be described as true bliss.</p>
              <a href="#" class="btn btn-primary">Tell Me More!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="Cupcake.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Ooooo! Cupcakes!</h5>
              <p class="card-text">I don't make these <strong>YET</strong> but when I do they'll be the bee's knees! Suggest some flavors!</p>
              <a href="cupcake" class="btn btn-primary">Tell Me More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="muffin.jpg" alt="">
            <div class="card-body">
              <h5 class="card-title">Muffins</h5>
              <p class="card-text">I also don't make these <strong>YET</strong> but when I do they'll be the cat's pyjamas! Suggest some flavors!</p>
              <a href="cupcake" class="btn btn-primary">Tell Me More!</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="card" class="card" style="width: 18rem;">
            <img id="unlock" class="card-img-top" src="Padlock.png" alt="">
            <a id="unlock-btn2" href="#" class="btn btn-primary">Open!</a>
            <div class="card-body">
              <h5 id="unlock-title" class="card-title">I Guess It's Locked!?</h5>
              <p id="unlock-text" class="card-text">This option is locked! Sorry... If you wanted to, you could try inputting a password up top.</p>
              <a id="unlock-btn" href="#" class="btn btn-primary">Tell Me More!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
